:root {
    --acent-color: 225, 225, 255;
    --sub-color: 0, 0, 0;
}

body.dark {
    --acent-color: 0, 0, 0;
    --sub-color: 255, 255, 255;
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.con-auth-img {
    width: 100%;
    height: 50%;
    position: absolute;
    display: block;
    left: 0%;
    top: 0%;
    padding: 0em;
}

.con-auth-img img {
    width: 100%;
    height: 100%;
    margin: 0;
    display: block;
}

.authblock {
    width: 100%;
    height: 75%;
    position: absolute;
    display: flex;
    right: 0%;
    top: 25%;
    padding: 0;
    box-shadow: 0px 0px 40px 5px black;
    background: rgba(var(--acent-color), 1);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    overflow: hidden;
}

.headerauth {
    width: 100%;
}

.headerauth h1 {
    width: 100%;
    position: relative;
    display: block;
    text-align: center;
    padding: 0;
    margin: .125em;
    top: 7.5%;
}

.headerauth a {
    width: 100%;
    position: relative;
    display: block;
    text-align: center;
    padding: 0;
    font-size: .75em;
    text-decoration: none;
    color: #ad73e0;
}

.headerauth a:hover {
    text-decoration: none;
    color: #9e2fff;
}

.con-login {
    width: 60%;
    height: fit-content;
    position: absolute;
    display: block;
    right: 20%;
    top: 20%;
    padding: 1%;
    overflow: hidden;
    border-radius: 15px;
    /* background: rgba(var(--accent-color), 1); */
    box-shadow: 13px 13px 20px #555555, -13px -13px 20px rgb(255, 255, 255)
}

form {
    max-width: 100%;
    width: 100%;
    display: block;
    padding: 2em;
    border-radius: 4px;
    transition: all 0.3s ease;
    margin: 0;
}

.row {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.row label {
    font-size: .75em;
    padding: 0;
    color: #050505;
}

.row input {
    flex: 1;
    padding: .25em;
    border: 1px solid #00000050;
    border-radius: 10px;
    font-size: .75em;
    transition: all 0.2s ease-out;
    background: rgba(var(--acent-color), 1);
    vertical-align: center;
}

.row input:focus {
    outline: none;
    box-shadow: inset 2px 2px 7px 0 rgba(42, 45, 48, 0.12);
}

.row input::placeholder {
    color: #9f7fbb;
    font-size: .75em;
}

.row a {
    text-decoration: none;
    color: #ad73e0;
}

.row a:hover {
    text-decoration: none;
    color: #9e2fff;
}

form .row .frgt {
    width: 100%;
    text-align: center;
    font-size: .5em;
    cursor: pointer;
}

form button {
    width: 100%;
    padding: .25em;
    font-size: .75em;
    color: rgba(var(--sub-color), 1);
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    margin: .125em;
    transition: all 0.2s linear;
    background: rgba(var(--acent-color), 1);
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px #555555, -1px -1px 5px 1px rgb(255, 255, 255)
}

button:hover {
    box-shadow: 13px 13px 20px #555555, -13px -13px 20px rgb(255, 255, 255)
}

#login-block {
    transition: all 1s linear;
}

#signup-block {
    transition: all 1s linear;
    top: 10%;
    -webkit-transform: translateY(200%);
    transform: translateY(200%);
}

@media screen and (min-width:1366px) {
    .con-auth-img {
        width: 70%;
        height: 100%;
        position: absolute;
        display: block;
        left: 0%;
        top: 0%;
        padding: 0em;
    }
    .con-auth-img img {
        width: 100%;
        height: 100%;
        margin: 0;
        display: block;
    }
    .authblock {
        width: 40%;
        height: 100%;
        position: absolute;
        display: flex;
        right: 0%;
        top: 0%;
        padding: 0;
        box-shadow: 0px 0px 100px 25px black;
        background: rgba(var(--acent-color), 1);
        border-top-left-radius: 55px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 55px;
        border-bottom-right-radius: 0px;
    }
    .headerauth {
        width: 100%;
    }
    .headerauth h1 {
        width: 100%;
        position: relative;
        display: block;
        text-align: center;
        padding: 0;
        margin: .25em;
        top: 7.5%;
    }
    .headerauth a {
        width: 100%;
        position: relative;
        display: block;
        text-align: center;
        padding: 0;
        font-size: 1em;
        text-decoration: none;
        color: #ad73e0;
    }
    .headerauth a:hover {
        text-decoration: none;
        color: #9e2fff;
    }
    .con-login {
        width: 60%;
        height: fit-content;
        min-height: 50%;
        position: absolute;
        display: block;
        right: 20%;
        top: 25%;
        padding: 1%;
        overflow: hidden;
        border-radius: 15px;
        /* background: rgba(var(--accent-color), 1); */
        box-shadow: 13px 13px 20px #555555, -13px -13px 20px rgb(255, 255, 255)
    }
    form {
        max-width: 100%;
        width: 100%;
        display: block;
        padding: 2em;
        border-radius: 4px;
        transition: all 0.3s ease;
        margin: 0;
    }
    .row {
        display: flex;
        flex-direction: column;
        margin: 15px;
    }
    .row label {
        font-size: 1em;
        padding: 0;
        color: #050505;
    }
    .row input {
        flex: 1;
        padding: .5em;
        border: 1px solid #00000050;
        border-radius: 10px;
        font-size: 1em;
        transition: all 0.2s ease-out;
        background: rgba(var(--acent-color), 1);
        vertical-align: center;
    }
    .row input:focus {
        outline: none;
        box-shadow: inset 2px 2px 7px 0 rgba(42, 45, 48, 0.12);
    }
    .row input::placeholder {
        color: #9f7fbb;
        font-size: 1em;
    }
    .row a {
        text-decoration: none;
        color: #ad73e0;
    }
    .row a:hover {
        text-decoration: none;
        color: #9e2fff;
    }
    form .row .frgt {
        width: 100%;
        text-align: center;
        font-size: .75em;
        cursor: pointer;
    }
    form button {
        width: 100%;
        padding: .5em;
        font-size: 1em;
        color: rgba(var(--sub-color), 1);
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
        margin: .25em;
        transition: all 0.2s linear;
        background: rgba(var(--acent-color), 1);
        border-radius: 5px;
        box-shadow: 1px 1px 5px 1px #555555, -1px -1px 5px 1px rgb(255, 255, 255)
    }
    button:hover {
        box-shadow: 13px 13px 20px #555555, -13px -13px 20px rgb(255, 255, 255)
    }
    #login-block {
        transition: all 1s linear;
    }
    #signup-block {
        transition: all 1s linear;
        top: 15%;
        transform: translateY(200%);
    }
}